.movieList {
  list-style-type: none;
  padding: 0;
  
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
 
  
}

.movieItem {
   color: tomato;
  border-radius: 8px;
  overflow: hidden;
  background-color: #312f2f71;
  text-align: left;
}
.movieItem:hover {
  transform: scale(1.02);
}

.moviePoster {
  width: 100%;
  height: auto;
}

h2 {
  margin: 10px 0;
  font-size: 1.2rem;
  color: #868484;
 margin-left: 20px;
}
