.homePage {
  background-color: #121212;
  color: white;
  font-family: Arial, sans-serif;
  padding: 20px;
}

.movieTitle {
  font-size: 24px;
  margin-top: 20px;
}

.moviePoster {
  width: 200px;
  height: auto;
  margin-bottom: 20px;
}
